.skills {
  text-align: center;
  overflow-y: scroll;
  & > h4 {
    margin: 10px 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &  li {
      border: 1px solid #2D2747;
      border-radius: 3px;
      display: inline-block;
      font-size: 12px;
      margin: 0 7px 7px 0;
      padding: 5px;
      cursor: pointer;
      transition: transform .3s cubic-bezier(0.22, 0.61, 0.36, 1);

      &:hover {
        transform: scale(1.1) translateY(-2px);
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }
}
