.works-menu {
  button {
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    font-size: 14px;
    color: #7c7c7c;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    background-color: transparent;
    transition: all .4s;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover, &:active {
      color: var(--primary-color);
      outline: none;
    }
  }
  .active {
    outline: none;
    font-weight: bold;
    transform: scaleY(1.1);
  }
}
